{% load static %}
<head >
  <meta charset="UTF-8" >
  <title> Title</title >
  <script src="http://code.jquery.com/jquery-2.1.1.min.js" ></script >
</head >
<body >
  <h3 >功能1：发送ajax请求</h3 >
  <p class="content" ></p > //这里的内容是空的
  <button class="btn" >ajax</button> 

<form>
    a: <input type="text" id="a" name="a"> <br>
    b: <input type="text" id="b" name="b"> <br>
    <p>result: <span id='result'></span></p>
    <button type="button" id='sum'>ajax提交</button>
</form>

<script src="{% static 'js/ajax.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/ajax-add.js' %}" crossorigin="anonymous"></script>
</body >
</html >